<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center">
  <div class="card" style="width: 40rem">
    <div class="card-title">
      <h1 class="text-center">404 - We couldn't find that page!</h1>
    </div>
    <img src="/assets/404.jpg" class="card-img-top" alt="404 Error" />
    <div class="card-body"></div>
  </div>
</div>
