<% layout('layouts/boilerplate') %>

<div class="card" style="width: 40rem">
  <img src="/assets/404.jpg" class="card-img-top" alt="404 Error" />
  <div class="card-body">
    <p class="card-text">404 - We couldn't find that page!</p>
  </div>
</div>
