<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Bathrooms</title>
  </head>
  <body>
    <ul>
      <% for(let bathroom of bathrooms) { %>
      <li>
        <a href="/bathrooms/<%= bathroom._id %> ">
          <%= bathroom.title %> - <%= bathroom.location %> (<%=
          bathroom.occupancy %>)</a
        >
      </li>
      <% } %>
    </ul>
  </body>
  <footer><a href="/bathrooms/new">Add A New Bathroom</a></footer>
</html>
